body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.object-fit-cover {
  object-fit: cover;
}

h1.display-5 {
  font-size: 70px;
  line-height: 80px;
}

.icon-button {
  width: 70px;
  text-align: center;
  color: #333;
}

/* custom-datepicker.css */

.custom-calendar {
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  overflow: hidden;
}

.react-datepicker__header {
  background-color: #374151 !important;
  border-bottom: 1px solid #374151;
  padding: 0.5rem;
  color: white !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
  font-weight: 500;
}

.react-datepicker__current-month {
  margin-bottom: 15px !important;
}

.react-datepicker__day {
  color: #495057;
  border-radius: 50%;
  transition: 0.3s;
}

.react-datepicker__day:hover {
  background-color: #e9ecef;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #374151;
  color: white;
}

.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__navigation {
  top: 10px;
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  max-width: 700px !important;
  /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #3a3a3a;
  background-color: white;
  transition: all 0.3s ease;
}

.icon-circle:hover {
  background-color: #f0f0f0;
}

.icon-circle.active {
  background-color: #2e3a4e;
  color: white;
  border-color: #2e3a4e;
}

.image-zoom-container {
  overflow: hidden !important;
  position: relative !important;
}

.image-zoom-container img {
  transition: transform 0.5s ease !important;
}

.image-zoom-container:hover img {
  transform: scale(1.1) !important;
}

.image-zoom-hover img {
  transition: transform 0.5s ease;
}

.image-zoom-hover:hover img {
  transform: scale(1.1);
}

.calendar-day-btn {
  flex: 0 0 91px !important; /* width fix */
  height: 95px !important; /* height fix */
  display: flex;
  justify-content: center;
  align-items: center;
}

.court-row .delete-btn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.court-row:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}

.custom-title {
  font-size: 20px;
  font-weight: 600;
  color: #374151;
  font-family: "Poppins" sans-serif;
}

@media (max-width: 768px) {
  .auth-wrapper {
    padding: 1rem;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.tabel-title {
  font-size: 20px;
  font-weight: 700;
  color: #04103b;
  font-family: "Nunito" sans-serif;
}

.dashboard-viewmore {
  font-size: 12px;
  font-weight: 600;
  font-family: "Nunito" sans-serif;
}

.card-value {
  font-size: 30px;
  color: #04103b;
  font-weight: 700;
  font-family: "Nunito" sans-serif;
}

.table-data {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins" sans-serif;
  color: #000000;
}

.manual-heading {
  font-weight: 600;
  font-family: "Poppins" sans-serif;
  font-size: 26px;
  color: #04103b;
}

/* Custom Table */

.custom-scroll-container {
  max-height: 100vh;
  width: 100%;
  margin-bottom: 0px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  table-layout: auto;
  min-width: 1000px;
  /* Ensures table is wide enough to require horizontal scroll on smaller screens */
}

.custom-table thead th {
  background-color: #d0d6ea;
  font-weight: 600;
  text-align: center;
  padding: 0.45rem 0.7rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  font-size: 14px;
}

.custom-table td {
  padding: 0.7rem 1rem ;
  text-align: center;
  font-weight: 400;
  /* vertical-align: middle; */
  /* white-space: nowrap; */
  font-size: 14px;
  /* Prevents text wrapping in cells */
}

.custom-table .table-data {
  font-size: 14px;
}

.custom-table .border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.react-datepicker__input-container input {
  font-size: 0.9rem;
  font-family: inherit;
}

.dropdown-wrapper {
  position: relative;
  font-family: sans-serif;
}

.dropdown-header {
  background-color: #d0d6ea;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  font-size: 14px;
  font-weight: 700 !important;
  color: black !important;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 2px;
  min-width: 100px;
  z-index: 100;
}

.dropdown-list div {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list div:hover {
  background-color: #f1f1f1;
}

.custom-gallery {
  display: grid;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img8 img9";
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.custom-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

/* Assign each image to its area */
.item1 {
  grid-area: img1;
}

.item2 {
  grid-area: img2;
}

.item3 {
  grid-area: img3;
}

.item4 {
  grid-area: img4;
}

.item5 {
  grid-area: img5;
}

.item6 {
  grid-area: img6;
}

.item7 {
  grid-area: img7;
}

.item8 {
  grid-area: img8;
}

.item9 {
  grid-area: img9;
}

.item10 {
  grid-area: img10;
}

.full-screen-lightbox {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.9) !important;
  z-index: 1000 !important;
}

.full-screen-lightbox .ril-image-current {
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  /* Change to cover to fill the space */
}

.full-screen-lightbox .ril__image {
  margin: 0 !important;
}

.youtube-spinner {
  width: 50px;
  height: 200px;
  border-top-color: transparent;
}

.image-loader {
  background: linear-gradient(180deg, #181818 0%, #282828 100%);
}

/* =======-Image hoveer effect for table  */
.img-container {
  position: relative;
  display: inline-block;
}

.preview {
  display: none;
  position: absolute;
  top: -10px;
  left: 60px;
  z-index: 999;
  border: 2px solid #ddd;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
}

.preview img {
  width: 150px;
  /* Big size preview */
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.img-container:hover .preview {
  display: block;
}

.animated-image {
  animation: scaleAnimation 2s  ease-in-out;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
    /* शुरू में छोटा */
  }

  50% {
    transform: scale(1.2);
    /* बीच में बड़ा */
  }

  100% {
    transform: scale(0.8);
    /* फिर वापस छोटा */
  }
}

/* booking details modal image */
.animated-img {
  animation: bounceIn 1.2s ease;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
