name: PADEL HAUS FRONTEND CI

on:
  push:
    branches: [ "padel-haus"]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Copy .env file from backup
      run: |
        cp /var/www/env-backups/.env.padel_haus /var/www/padel-haus/frontend-runner/_work/PADEL-HAUS-FRONTEND/PADEL-HAUS-FRONTEND/.env
        echo ".env file copied from backup."

    - name: Run deploy command
      run: docker-compose -f docker-compose-padel-haus.yaml up -d --build

    - name: Remove build cache
      run: docker system prune -a -f