name: PADEL CI

on:
  push:
    branches: [ "main"]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Copy .env file from backup
      run: |
        cp /var/www/env-backups/.env.super-admin-dev /var/www/super-admin-runner/_work/padel-super-admin/padel-super-admin/.env
        echo ".env file copied from backup."

    - name: Run deploy command
      run: docker-compose -f docker-compose.yaml up -d --build

    - name: Remove build cache
      run: docker system prune -a -f